body {
    background: #eee;
}
.carousel {
    position: relative;
    display: inline-block;
}
 .carouselSlideMainControls button {
    position: absolute;
    top: 50%;
    z-index: 1;
}
.carouselSlideMainControls button.slidePrevious {
    left: 0;
}
.carouselSlideMainControls button.slideNext {
    right: 0;
}
.carouselSlideRadioControls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.carousel .carouselSlides {
    max-height: 250px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.carousel .carouselSlides img {
    width: 100%;
}